@import url("photographer.css");

/* Colors */

:root {
    --primary-color-back: #901C1C;
    --primary-color-text: #D3573C;
    --secondary-color-back: #D3573C;
    --secondary-color-text: #901C1C;
    --transparant-color: #FAFAFA;
    --dark-color: #525252;
}


body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1900px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
}

.logo_link {
    margin-left: 100px;
}

.info {
    color: var(--primary-color-back);
    font-size: 30px;
    margin-right: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    margin-top: 100px;
}

.profile_article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile_article > * {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

.profile_name {
    color: var(--primary-color-text);
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.profile_info {
    margin-left: 40px;
    margin-right:-75px;
    width: 315px;
}

.profile_info > * {
    margin:10px;
}

.profile_info h2 {
    color: var(--primary-color-text);
    font-size: 64px;
    font-weight: normal;
}

.profile_info h3 {
    color: var(--secondary-color-text);
    font-size: 24px;
    font-weight: normal;
}

.profile_info h4 {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: normal;
}

.profile_img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none
}

.profile_link:focus, 
.profile_img:focus,
.logo_link:focus {
    border: 2px solid var(--dark-color);
}

.profile_img {
    object-fit: cover;
}

.profile_img:hover {
    transform: scale(1.05);
}

.profile_location {
    color: var(--secondary-color-text);
    font-size: 16px;
}

.profile_tagline {
    color: var(--dark-color);
    font-size: 14px;
}

.profile_price {
    color: lightgray;
    font-size: 12px;
}

.photograph-header  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-right: 50px;
}

.photograph-header > * {
    align-self: center;
}

.photograph-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.gallery_filter {
    display: flex;
    margin: 0 100px;
    height: 70px;
}

.dropdown_filter {
    margin-left: 15px;
}

.gallery_article {
    margin: 25px 0;
}

.gallery_item {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.gallery_item_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

.gallery_item_likes {
    display: flex;
    justify-items: center;
}

.gallery_item_likes span {
    margin-left: 5px;
    margin-top: 3px;
    font-size: 22px;
    color: var(--secondary-color-text);
    cursor: pointer;
}

.gallery_item_info h3 {
    margin:0px;
    color: var(--secondary-color-text);
    max-width: 300px;
}

.photograph-info {
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
    position: fixed;
    right: 40px;
    bottom: 0px;
}

.profile_sub_info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 300px;
    height: 50px;
    background-color: var(--secondary-color-back);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile_sub_info h3 {
    align-self: center;
}

.profile_sub_info--likes {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.profile_sub_info--likes span{
    font-size: 22px;
    margin-top: 14px;
    margin-left: 5px;
    
} 

.filter_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    text-align: start;
    margin-left: 15px;
}

.filter_list_content {
    font-size: 20px;
    font-weight: bold;
    display: none;
    color: white;
    width: 170px;
    height: 210px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    z-index: 2;
    margin-bottom: -180px;
}

.filter_button-options {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    cursor: pointer;
    border-radius: 5px;
    text-align: start;
}

.filter_separator {
    height: 1px;
    background-color: white;
    width: 85%;
    margin-left: 7.5%;
}

.gallery_slider {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    background-color: var(--transparant-color);
}

.gallery_slider-img h3 {
    color: var(--secondary-color-text);
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;;
}

.gallery_slider-left:focus,
.gallery_slider-right:focus {
    border-color: var(--dark-color);
    border-width: 5px;
}

.gallery_slider-cross {
    width: 70px;
    height: 70px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 48px;
    text-align: center;
    color : var(--primary-color-back);
}

.slider_item {
    height: 800px;
    width: 800px;
    object-fit: cover;
    margin-top: 45px;
}

.fa-chevron-right,
.fa-chevron-left {
    font-size: 64px;
    align-self: center;
    margin: 0 20px;
    cursor: pointer;
    color : var(--primary-color-back);
}

.contact_button:focus,
.contact_button:hover {
    color: black;
    background-color: var(--secondary-color-back);
}

.filter_button:hover,
.filter_button:focus,
.filter_button-options:hover,
.filter_button-options:focus {
    color: black;
    background-color: var(--secondary-color-back);
}

.fa-chevron-left:focus,
.fa-chevron-right:focus,
.gallery_slider-cross:focus,
.gallery_item:focus,
.fa-heart:focus {
    border: 2px solid var(--dark-color);        
}

.filter_button,
.filter_button-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}